<div class="card-body">
  <p class="card-title messager"><%= message.username %></p>
  <p class="col-8 card-text">
    <% if message.removed? %>
      <p class="text-muted removed">This message was removed</p>
    <% else %>
      <div class="row">
        <div class="col-sm">
          <%= message.content %>
        </div>
        <div class="col-sm">
          <div class="btn-group float-right" role="group">
            <%= link_to 'Update', edit_conversation_message_path(message.conversation, message),
            class: 'btn btn-outline-primary btn-sm' %>
            <%= link_to 'Delete', [message.conversation, message], method: :delete,
                      class: 'btn btn-outline-danger btn-sm', remote: true %>
          </div>
        </div>
      </div>
    <% end %>
    <% if message.image.attached? %>
      <image src="<%=(url_for(message.image))%>" class="img-thumbnail mb-3 mt-3">
      <% end %>
      <div class="card-subtitle mb-2 text-muted">
        <%= message.date %>
      </div>
    </p>
  </div>
