<%= render 'form', conversation: @conversation %>
<%# <div class="card message"> %>
<%#   <%= form_with model: @conversation do |form| %1> %>
<%#     <div class="card-body"> %>
<%#       <div class="card-text"> %>
<%#         <%= form.label :name, 'Conversation title:', class: 'form-label' %1> %>
<%#         <%= form.text_field :name, class: 'form-control' %1> %>
<%#         <%= form.label :status_public, "Public" %1> %>
<%#         <%= form.radio_button :status, "public" %1> %>
<%#         <%= form.label :status_private, "Private" %1> %>
<%#         <%= form.radio_button :status, "private" %1> %>
<%#       </div> %>
<%#       <%= form.submit 'Save', class: 'btn btn-warning mt-4' %1> %>
<%#     </div> %>
<%#   <% end %1> %>
<%# </div> %>
