.row
  .col
    %h1 Welcome
  .col
    %p
      Current user id:
      = current_user.id
      %span Current user username: 
      = current_user.username

.row.mb-5
  = link_to 'New chat', new_conversation_path, class: 'btn btn-primary mt-3 mb-3'
  .card.container-fluid
    .card-body
      .card-title
        %h3 My conversations
      .card-text
        - if current_user
          %ul.list-group
            - current_user.conversations.each do |conversation|
              - conversation_presenter = ConversationPresenter.new(conversation)
              %li{:class => 'list-group-item d-flex justify-content-between align-items-center conversation',
                :id => "conversation-#{conversation_presenter.id}"}
                %h4= "#{conversation_presenter.title} #{conversation_presenter.emoji}"
                .btn-group.float-right{ :role => "group" }
                  = link_to 'See', conversation, class: 'btn btn-info btn-sm', id: "btn-see-#{conversation_presenter.id}"
                  = link_to 'Delete', conversation, method: :delete, remote: true,
                    class: 'btn btn-danger btn-sm', id: "btn-delete-#{conversation_presenter.id}"
    .card-body
      .card-title
        %h3 Public conversations
      - if @public_conversations_to_join.empty?
        %p There are no public conversations to join 💔
      - else
        = render 'shared/public_conversations', conversations: @public_conversations_to_join

#react-element

-# = javascript_pack_tag 'hello_react'
-# = javascript_pack_tag 'conversation_display'
