<% presenter = ConversationPresenter.new(@conversation) %>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <h1 class="col">
          <%= presenter.emoji %> 
        </h1>
        <div class="col">
          <% if current_user %>
            <%= link_to 'Back', @conversation, class: 'btn btn-secondary float-right' %>
          <% else %>
            <%= link_to 'Back', root_path, class: 'btn btn-secondary float-right' %>
          <% end %>
        </div>
      </div>
      <h3 class="col row">
        <%= presenter.title %> 
      </h3>
    </div>
    <p class="card-text"><%= presenter.description%></p>
  </div>
</div>
</br>
<%= link_to 'Home page', root_path, class: 'btn btn-sm btn-outline-secondary mb-5' %>
