<% presenter = ConversationPresenter.new(@conversation) %>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <h3 class="col">
          <%= presenter.title %> 
        </h3>
        <span class="text-muted">(with: <%= presenter.participants_list(current_user.username) %>) 
          <span class="badge bg-info text-light">
            <span class="badge rounded-pill bg-warning text-dark", id="messages-counter">
              <%= presenter.number_of_messages %>
            </span> messages
          </span>
        </span>
        <div class="col">
          <%= link_to 'Edit', edit_conversation_path, class: 'btn btn-secondary float-right' %>
        </div>
      </div>
      <p class="text-light"><span class="badge bg-secondary"><%= presenter.status %></span></p>
    </div>
    <div class="chat-box">
      <section id="messages" class="chat-box__content">
        <%= render @conversation %>
      </section>
    </div>
</div>

</div>
<section class="chat-box__input">
  <div class="mb-3 mt-3">
    <%= form_with model: @message, url: conversation_messages_path(@conversation, @message),
      local: false do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="input-group mb-3">
            <%= form.text_field :content, class: 'form-control', id: 'message-input' %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.submit 'Send', class: 'btn btn-info', id: 'message-send' %>
          </div>
          <div class="row g-2">
            <div class="col-auto">
              <%= form.label :image, 'Add Image: ', class: 'form-label' %>
            </div>
            <div class="col-auto">
              <%= form.file_field :image, class: 'form-control form-control-sm',
                                  id: 'message-image-picker' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
</br>
<%= link_to 'Home page', root_path, class: 'btn btn-sm btn-outline-secondary mb-5' %>
