<h2>
  <%= @conversation.name %> (with: 
  <% @conversation.users.each do |user| %>
    <%= "#{user.username} " unless user.id == current_user.id %>
  <% end %>)
  <span><%= link_to 'Edit', edit_conversation_path, class: 'btn btn-secondary' %></span>
</h2>
<div class="chat-box">
  <section class="chat-box__content">
    <% @conversation.messages.each do |message| %>
      <p>
        <% if message.removed? %>
          'This message was removed'
        <% else %>
          <%= message.content %>
        <% end %>
        <%= @user_names[message.user_id] %> <%= message.date %>
        <span class=""><%= link_to 'Update', edit_conversation_message_path(@conversation, message),
            class: 'btn btn-primary btn-sm' %></span>
        <span class="">
          <%= link_to 'Delete', [@conversation, message], method: :delete, class: 'btn btn-danger btn-sm' %>
        </span>
      </p>
    <% end %>
  </section>

  <section class="chat-box__input">
    <%= form_with model: @message, url: conversation_messages_path(@conversation, @message) do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :content, class: 'form-control' %>
        <%= form.submit 'Send', class: 'btn btn-info' %>
      </div>
    <% end %>
  </section>
</div>
</br>
<%= link_to 'Home page', root_path, class: 'btn btn-sm btn-outline-secondary' %>
