.card-text
  %ul.list-group
    - conversations.each do |conversation|
      - presenter = ConversationPresenter.new(conversation)
      %li.list-group-item.d-flex.justify-content-between.align-items-center.conversation[conversation]
        %h4= "#{presenter.title} #{presenter.emoji}"
        .btn-group.float-right{ role: 'group' }
        - if current_user
          = link_to 'Join', controller: 'conversations', action: 'join',
            id: conversation, class: 'btn btn-info btn-sm'
        - else
          = link_to 'Profile', class: 'btn btn-info btn-sm', controller: 'conversations', action: 'profile',
            id: conversation
