<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'RubyChat', root_path, class: 'navbar-brand' %>
    <div class="navbar-nav">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'New conversation', start_conversation_path, class: 'nav-link' %>
    </div>
    <div class="navbar-nav d-flex">
      <% if current_user %>
        <span class="nav-item">
          <span class="navbar-text"><%= current_user.email %></span>
        </span>
        <span class="nav-item">
          <%= link_to 'Sign Out', sign_out_path, method: :delete, class: 'nav-link' %>
        </span>
      <% else %>
        <span class="nav-item"><%= link_to 'Sign In', sign_in_path, class: 'nav-link' %></span>
      <% end %>
    </div>
  </div>
</nav>
